# Files and folders ignored by Git

# Dependencies
node_modules/
dist/
dist-ssr/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Editor and system files
.vscode/
.idea/
.DS_Store
Thumbs.db
